<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/add_classstyle.css/" />
</head>
<body>
    <h2>添加用户</h2>
    <form method="POST" action="/add_tutor/">
        <p>
            角色名称：<input type="text" name="rolename" />
            <br/>
            用户账号：<input type="text" name="username" />
            <br/>
            用户密码：<input type="password" name="password" />
            <br/>
            <input type="submit" value="提交" />
        </p>
    </form>
</body>
</html>